body{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e7e7e7ef;
  
}
/*---------------variabler------------- */
:root{
  --grå: #cacaca;
}

/*---------------------- Grid instälningar ----------------------*/
 .index{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "content1   content1        content1   "
    "content2   content2      content2   "
    "footer      footer      footer  ";
    padding-bottom: 7rem;
    
     
  
}



  /*---------------------- NAVBAR ----------------------*/

a {
  text-decoration: none;
}

.manin-nav {
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

.ul-header, .dropdown {
  background: rgb(173, 173, 173);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-header, .drop {
  color: #fff;
  background: rgb(173, 173, 173);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.nav-header a {
  color: #fff;
}

li:hover {
  background: rgb(93, 93, 93);
  cursor: pointer;
}

ul li ul {
  background: rgb(173, 173, 173);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
h1{
  text-align: center;
  padding: 1em;
}



/*Kontakt länken ska vara placerad längs till höger*/ 
#höger{
  float: right;
  padding: 10px;
  padding-top: 13 px;
}


  

 
 
  /*---------------------- Header ----------------------*/
.main-head {
  grid-area: header;
  
}
.image-header{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 150px;
  max-width: 900px;
}

 
 
  /*---------------------- Content 1 ----------------------*/
.content1 {
 grid-area: content1;
 padding: 1em;
 text-align: left;
 justify-items: left;
 grid-column:1/3;
 
}

.bild-höger{
  height: auto ;
  max-width: 25vw;
  justify-content: center;
  object-fit: cover;
  padding: 1em;
  
}
 
 
  /*---------------------- Content 2 ----------------------*/
.content2 {
  grid-area: content2;
  background-color: var(--grå);
  padding: 1rem;
  text-align: right;
  grid-column: 2  /4;
  
  
  
   
}

.bild-vänster{
height: auto ;
 max-width: 25vw;
 justify-content: center;
 margin: auto;
 object-fit: fill;
 padding: 1em;
 

  

  
}
 
  
  /*---------------------- Footer ----------------------*/
.main-footer {
  grid-area: footer;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  border-top: 2px solid black;
  background-color: #c3c3c3;
  
  

}
.main-footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*-----------------------  Album hemsidan  -----------------------------------*/
@media (min-width: 600px) {
  .album { grid-template-columns: repeat(2, 1fr); }
  
}


@media (min-width: 900px) {
  .album { grid-template-columns: repeat(3, 1fr); }
}
.album{
 max-width: 1200px;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 10rem ;
  padding-bottom: 10rem;
  
  
 
 
}

.Album-bilder{
 height: 50vh ;
 max-width: 25vw;
 justify-content: center;
 margin: auto;
 object-fit: cover;
 


}
.album > section:nth-child(odd){
  filter: grayscale(90%); /*För att göra  filtera bilderna så att detr passar desigenen det är för udda*/
}
.album > section:nth-child(even){
  filter: grayscale(200%);
}
.title{
  color: black;
  font-weight: bold;
  text-align: center;

} 
.album a{
  text-decoration: none;
  color: #424242ef;
}

/*-----------------------  kontakt hemsidan  -----------------------------------*/
.formular{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "   .         form        .    "
  " footer     footer       footer ";
  
  text-align: center;
  padding-bottom: 10rem;

}
.Kontakt{
  grid-area: form;
  padding: 1em;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.runda-hörn{
  border-radius: 100%;
  width: 25%;
  height: auto;
  justify-items: center;
}
.Album123{
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
   "låt1 låt1 låt1video"
   "låt2 låt2 låt2video";
  margin: 0;
  padding-bottom: 7rem;
}
.låt1{
  grid-area: låt1;
}
.låt2{
  grid-area: låt2;
}
.video1{
  width: 150px;
 height: 150px; 

}
.video2{
  grid-area: låt2video;
  width: 420px;
  height: 345px;
 
}