body{ 
  padding: 0; /*Där hur mycket utrryme från sidorna på hemsidan  */
  margin: 0; /*Där hur mycket utrryme från sidorna på hemsidan  */
  width: 100%; /*Bredden på hemsidan ska vara 100%*/
  background-color: #e7e7e7ef; /*Bakgrunds fäegrg för alla hemsidor*/

  
}
/*---------------variabler------------- */
:root{ /* Detta är varibaler som jag kan använda i cssen*/
  --grå: #cacaca; /* Varibalen är grå */
}

/*---------------------- Grid instälningar  ----------------------*/
.index{ /*. Är tilläg till classer */
  display: grid; /* Vilken typ av stil jag kommer att använda och deet är grid*/
  grid-template-columns: 1fr; /*Detta är hur många kolumer och vilken storlek som är 1fr*/
  column-gap: 1fr; /*Dett är hur mycket mellanrum mellan sektionerna*/
  grid-template-areas:  /*Detta är desig för vilka sektioner som ska se ut och varje del har jag nämnt nedean med grid area*/
    "content1   pic-right  "
    "pic-left   content2   ";
  margin: 0; /* hur mycket från mellanrum från aknten */
  padding-bottom: 10rem; /* Här hur mycket mellan rum till botten och mitt fall är fottern*/
  grid-row-gap: 10em; /*Detta är hur mycket mellan rum mellan raderna */
  grid-column-gap: 5em;
  padding: 10rem 3em ;/*Den första stroleken är mellan rum från toppen och botten andra stroleken är från kanterna */
  
}



  /*---------------------- NAVBAR ----------------------*/

a { /*Detta stylen är för länkar */
  text-decoration: none; /*Denna fukktionen betyder att lämkarna ska inte ha undestreckade*/
}

.main-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Detta är vilken textstill för innehållet, Ordningen är från den minst tillgänglig till högst tilängnlig */
}

.ul-header, .dropdown { /*Detta är gruppselektor alltså stylen ska vara på två olika klasser */
  background: rgb(94, 94, 94);/*Vilken bakgrund de ska ha, i detta fallet färg*/
  list-style: none; /*Dett är för att ta bort punkterna från listan */
  margin: 0;
  padding-left: 0;
}

.nav-header, .drop { 
  color: #fff; /*Detta är färgen på texten */
  background: rgb(94, 94, 94);
  display: block; /*Dett är för att vrje länk ska få en egen block*/
  float: left; /*Detta är för att det ska visa horizontell */
  position: relative; /*Detta gör att postionen är relativ*/
  text-decoration: none; /*Denna är för att ta bort punkter som är från listan */
  transition-duration: 0.5s; /*Detta är hur mycet tid som tar för att visa upp de , detta fungerar som animation*/
  z-index: 1; /*Denna funktionen används för att jag hade probelem  med att drop down menyn kommer under innehållet,  men med hjälp av denna funktionen så  kan man  lägga det man  vill överst*/
  font-size: 20px;
}
.active{ /*Detta är classen när hemsidan aktiv så får den en specifk fäärg*/
  background-color: rgb(255, 255, 255, 0.65);

}
.nav-header a{
color: white;
display: block;
color: white;
text-align: center;
padding: 1em;
text-decoration: none;
}



.ul-header .nav-header:hover { /*Dett är för att specefera mer styling eller hover, då betyder det styla den .navheader som är under ul header*/
  background: rgb(192, 192, 192);
  
}

ul li ul { /*Dett för att specifera listen som ligger under in rad av lista alltså ul lista sedan kommer det e punkt sen under punkten så är det en lista*/
  background: rgb(173, 173, 173);
  visibility: hidden; /*Dett är för att den ska inte visas när man har sidan öppen */
  opacity: 0; /*Hur mycket genomsknlighet den ska ha*/
  min-width: 5rem; /**minsta bredden */
  position: absolute; /*Postionern ska var i mitten*/
  transition: all 0.5s ease; /*Detta är en animtaion för listan */
  margin-top: 1rem; 
  left: 0;
  display: none;/*Den ska inte ska visa något om man inte trycker eller håller över*/
}

ul li:hover > ul, /*Detta betyder den som är mellan de som ska ändras*/
ul li ul:hover {
  visibility: visible; /*Här är det det ska senas om man håller över*/
  opacity: 1; /*Genomskinligheten */
  display: block;
}

li.drop:hover{ /*Detta om man håller äver på dropsoen menyn */
  background-color: rgb(192, 192, 192);
}
h1{
  text-align: center;
  height: 45vh;
  margin: 0 ;
  

  
}



/*Kontakt länken ska vara placerad längs till höger*/ 
#höger{ /*# är tilläget för en id*/
  float: right; /*var den ska placer*/
  
}


  



  /*---------------------- Header ----------------------*/
.main-head {
  display: grid;

}

.hIndex, .hAlbum, .hGrad, .hLate, .hTheCol, .hMode, .hFamilj{ /*Detta är grupp selektor*/
  background-repeat: no-repeat; /*detta gör att bilden inte repeters och visas om flera gånger*/
  background-size: cover; /*Vilken storlek den ska ha och idetta fallet är cover i header*/
  position: relative;
  margin: 0; 
  filter: grayscale(100%); /*Jag har filtreart vilden till svart bild*/
  background-attachment: fixed; /*Detta är att bilden står på samma plats när man skrollarner eller upp*/
  width: 100%;

}

.kaney, .alb, .grad, .Late, .TheCol, .Mode, .Familj{
  text-align: center; /*Detta är för var texten ska vara placerad*/
  color: white;
  padding-top: 13vh;
  font-size: 10vw;
  background-color:#1313138f ;
  font-family: 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  


}
.hIndex{ /*Här har jag infogat bilder url är för att hämta en länk*/
  background-image: url("https://consequenceofsound.net/wp-content/uploads/2015/04/screen-shot-2015-04-16-at-8-54-18-am.png?w=807");

  
}
.grad{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg");
  
}
.Late{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/f/f4/Late_registration_cd_cover.jpg");
}
.TheCol{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a3/Kanyewest_collegedropout.jpg");
  background-position: center;
  background-color: #4e4e4e8f ;
  color: black;
  
}
.Mode{
  background-image: url("https://media.gq.com/photos/56bce2f4b89407780bd7df9a/master/pass/kanye-west-gq-0714.jpg");
}
.Familj{
  background-image: url("https://media1.popsugar-assets.com/files/thumbor/sxRYgzqDD-vmHLZN74r5tNAMSd8/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/12/21/800/n/1922398/10c129a65a3bf976a899b0.69984757_edit_img_image_44375925_1513815627/i/Kim-Kardashian-Kanye-West-Family-Holiday-Photos-2017.jpg");
  background-position: center;
  color: black;
}

/*---------------------- Content 1 ----------------------*/
.content1 {
grid-area: content1; /*Detta namnet är som står på grid area templates*/
font-size: 30px;/*text storlek*/

}
.bild-right{
  margin: auto;
  float: right;
}

.bild-höger{
grid-area: pic-right;
width: 500px;
height: auto;
object-fit: fill;
}


  /*---------------------- Content 2 ----------------------*/
.content2 {
  grid-area: content2;
  font-size: 2vw;
  
}


text-höger{
  float:right;
}
.bild-left{
  margin: 10px;
}
.bild-vänster{
grid-area: pic-left;
width: 500px;
height: 50vh;
object-fit: fill;
  

}

  
  /*---------------------- Footer ----------------------*/
.main-footer {
  grid-area: footer;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  border-top: 2px solid black;
  background-color: rgb(94, 94, 94);

}
.main-footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-footer a{
  color:#fff ;
}
.main-footer li  a:hover{
  background-color: rgb(182, 182, 182);
}
  

/*-----------------------  Album hemsidan  -----------------------------------*/
@media (min-width: 600px) {
  .album { grid-template-columns: repeat(2, 1fr); }
  
}


@media (min-width: 900px) {
  .album { grid-template-columns: repeat(3, 1fr); }
}
.album{
max-width: 1200px;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 10rem ;
  padding-bottom: 10rem;
  padding-top: 15vh;
  font-size: 1.5vw;
}

.Album-bilder{
height: 50vh ;
max-width: 25vw;
justify-content: center;
margin: auto;
object-fit: cover;



}
.album > section:nth-child(odd){
  filter: grayscale(90%); /*För att göra  filtera bilderna så att detr passar desigenen det är för udda*/
}
.album > section:nth-child(even){
  filter: grayscale(200%);
}
.title{
  color: black; 
  font-weight: bold; /*Dett för att göra texten tjockare*/
  text-align: center;

} 
.album a{
  text-decoration: none;
  color: #424242ef;
}
/*-----------------------  Album  -----------------------------------*/
.Album123{
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
  "låt1 låt1video"
  " låt2video låt2";
  margin: 0;
  padding-bottom: 10rem;
  grid-row-gap: 10em;
  grid-column-gap: 5em;
  padding: 10rem 3em ;
  

}
.låt1{
  grid-area: låt1;
  font-size: 25px;

}

.låt2{
  grid-area: låt2;
  font-size: 25px;
}
.video1{
  grid-area: låt1video;
  width: 500px;
  height:420px;
  object-fit: fill;
  
}
.video2{
  grid-area: låt2video;
  width: 500px;
  height:420px;
  object-fit: fill;
}
audio{
  width: 40vw;

}


/*-----------------------  kontakt hemsidan  -----------------------------------*/
.formular{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "   .         form        .    "
  " footer     footer       footer ";
  text-align: center;
padding:10rem 15em ;

}
.Kontakt{
  grid-area: form;
  padding: 1em;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.runda-hörn{
  border-radius: 100%;
  width: 25%;
  height: auto;
  justify-items: center;
  filter: grayscale(100%);
}
label{
  font-size: 2vw;
}
.textfält{
  border-radius: 5px;
  background-color: #757575ef;
  color: aliceblue;
  padding: 10px 45px;
  font-size: 2vw;
}
textarea{
  border-radius: 5px;
  background-color: #757575ef;
  color: aliceblue;
  width: 20em;
  height: 18rem;
  resize: none;
  font-size: 1.5vw;

}
#skicka{
  background-color: #e2e2e2;
  padding: 30px 60px;
  border-radius: 15px;
  box-shadow: rgb(49, 47, 47);
}
#skicka:hover{
  background-color: rgb(192, 192, 192);
}
fieldset{
  border-radius: 25px;
  background-color: var(--grå);
}
