body{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e7e7e7ef;
  
}
/*---------------variabler------------- */
:root{
  --grå: #cacaca;
}

/*---------------------- Grid instälningar ----------------------*/
 .index{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    
    "content1   content1        content1   "
    "content2   content2      content2   "
    "footer      footer      footer  ";
    padding-bottom: 7rem;
     
  
}


  /*---------------------- NAVBAR ----------------------*/
.main-nav {
  grid-area: nav;
  text-decoration: none;
  background-color: #c3c3c3;
  display: block ;
  
}

.nav-header{
  float: left;
  padding:1rem ;
  
 }

 .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
  
 
 }
 li a{
  text-align: center;
  padding: 1rem 1rem; 
  text-decoration: none;
  list-style-type: none;
  display: block;
  padding: 5px;
  color: white;
  
  
 }
 .active{
   background-color: #383838;
 }

 li a:hover:not(.active) {
   background-color: #a1a1a1;
 }
 h1{
   text-align: center;
   padding: 1em;
 }

 

/*Kontakt länken ska vara placerad längs till höger*/ 
#höger{
  float: right;
  padding: 10px;
  padding-top: 13 px;
}


  

 
 
  /*---------------------- Header ----------------------*/
.main-head {
  grid-area: header;
  
}
.header/pictures{
  text-align: center;
  justify-content: center;
  justify-items: center;
}
 
 
  /*---------------------- Content 1 ----------------------*/
.content1 {
 grid-area: content1;
 padding: 1em;
 text-align: left;
 justify-items: left;
 grid-column:1/3;
 
}

.bild-höger{
  height: auto ;
  max-width: 25vw;
  justify-content: center;
  object-fit: cover;
  padding: 1em;
  
}
 
 
  /*---------------------- Content 2 ----------------------*/
.content2 {
  grid-area: content2;
  background-color: var(--grå);
  padding: 1rem;
  text-align: right;
  grid-column: 2  /4;
  
  
  
   
}

.bild-vänster{
height: auto ;
 max-width: 25vw;
 justify-content: center;
 margin: auto;
 object-fit: fill;
 padding: 1em;
 

  

  
}
 
  
  /*---------------------- Footer ----------------------*/
.main-footer {
  grid-area: footer;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  border-top: 2px solid black;
  background-color: #c3c3c3;
  
  

}
.main-footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*-----------------------  Album hemsidan  -----------------------------------*/
@media (min-width: 600px) {
  .album { grid-template-columns: repeat(2, 1fr); }
  
}


@media (min-width: 900px) {
  .album { grid-template-columns: repeat(3, 1fr); }
}
.album{
 max-width: 1200px;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 10rem ;
  
  padding-bottom: 10rem;
  
  
 
 
}

.Album-bilder{
 height: 50vh ;
 max-width: 25vw;
 justify-content: center;
 margin: auto;
 object-fit: cover;
 


}
.album > section:nth-child(odd){
  filter: grayscale(90%); /*För att göra  filtera bilderna så att detr passar desigenen det är för udda*/
}
.album > section:nth-child(even){
  filter: grayscale(200%);
}
.title{
  color: black;
  font-weight: bold;
  text-align: center;

} 
.album a{
  text-decoration: none;
  color: #424242ef;
}

/*-----------------------  kontakt hemsidan  -----------------------------------*/
.formular{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "   .         form        .    "
  " footer     footer       footer ";
  
  text-align: center;
  padding-bottom: 10rem;

}
.Kontakt{
  grid-area: form;
  padding: 1em;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.runda-hörn{
  border-radius: 100%;
  width: 25%;
  height: auto;
  justify-items: center;
}