body{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e7e7e7ef;
}
/*---------------variabler------------- */
:root{
  --grå: #cacaca;
}

/*---------------------- Grid instälningar ----------------------*/
.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1f;
  grid-template-areas: 
    "nav          nav          nav  "
    "header      header       header "
    "content1   content1    content1"
    "content2  content2     content2"
    "   .       footer        .     ";
     
  
}


  /*---------------------- NAVBAR ----------------------*/
.main-nav {
  grid-area: nav;
  text-decoration: none;
  background-color: #fffffff1;
}

.nav-header{
  float: left;
  padding:10px ;
 }

 .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
 
 }
 li a{
  text-align: center;
  padding: 1px 5px; 
  text-decoration: none;
  list-style-type: none;
  display: block;
  
  
 }

 li.nav-header a:hover{
   background-color: #aaaaaa;
   padding: 1px 5px;

 }

 

/*Kontakt länken ska vara placerad längs till höger*/ 
#höger{
  float: right;
  padding: 10px;
}

  

 
 
  /*---------------------- Header ----------------------*/
.main-head {
  grid-area: header;
  background-color: var(--grå);
}
 
 
  /*---------------------- Content 1 ----------------------*/
.content1 {
  grid-area: content1;
 
  padding: 1em;
}
.pic-right{
  align-content: right;
  width: 35%;
  
}
 
 
  /*---------------------- Content 2 ----------------------*/
.content2 {
  grid-area: content2;
  background-color: var(--grå);
  padding: 1em;
}
 
  
  /*---------------------- Footer ----------------------*/
.main-footer {
  grid-area: footer;
  text-decoration: none;
  text-align: center;
  

}
.main-footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*-----------------------  Album hemsidan  -----------------------------------*/
.album{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}
.Album-bilder{
  width: fit-content;
  width: 25%;

}

/*-----------------------  kontakt hemsidan  -----------------------------------*/
.formular{
  display: grid;
  grid-template-columns: 1fr 1fr 1f;
  grid-template-areas: 
    "nav          nav          nav  "
    "header      header       header "
    "   .     content1        .    "
    "   .       footer         .     ";
    
    text-align: center;

}